.pending-item{
    margin-bottom:0.5rem;
    width:100vw;

    .btns{
        margin-top:0.5rem;
        display:flex;
        justify-content: space-evenly;
        gap:3rem;
        color:white;

        .chat-btn{
            font-size:1.9rem;
            border-radius:15px;
        }

        .decline-btn{
            background:white;
            border-radius:15px;
        }
    }

    .accordion-body{
        display:flex;
        flex-direction:column;
        align-content: center;

        .pending-location{
            width:90%;
            background:#d2e0f8;
            align-self: center;
            padding:0.5rem 0;
            border-radius:15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h5{
                margin:0 0 0.25rem 0;
                color:#282828;
            }
        }
    
        .accordion-footer{
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            background:#d2e0f8;
            border-radius:15px;
            flex-direction: column;
            width:90%;
            align-self: center;
            padding:0.5rem 0;
        }
    }
}

table{
    margin-top:1rem;
    margin:0.8rem auto;
    background:#d2e0f8;
    padding:0;
    width:90%;
    border-radius:15px;

    th{
        font-weight: 600;
    }

    tr{
        text-align: center;
    }
}