.pending-item{
    margin-bottom:0.5rem;
    width:100%;
    
    .accordion-body{
        display:flex;
        flex-direction:column;
        align-content: center;

        .product-list{
            background:#d2e0f8;
            width:90%;
            align-self: center;
            margin-bottom: 0.5rem;
            border-radius:15px;
            height:13rem;
            overflow-y: auto;
            text-transform: capitalize;
        }
    
        .accordion-footer{
            display:flex;
            justify-content: space-evenly;
        }
    }
}

