.recent__transaction__item{
    min-width:117%;
    height:5rem;
    margin-bottom:1rem;

    display:flex;
    flex-direction:row;

    .recent__transaction__item-image{
        width:auto;
        height:auto;
        margin:0;
        padding:0;
        display:flex;
        img{
            height:3rem;
            width:3rem;
            transform:translateY(0.7rem);
        }
    }

    .recent__transaction__item-details{
        display:flex;
        justify-content:space-evenly;
        height:100%;
        align-items:flex-start;
        flex-direction: column;
        width:14rem;
        margin-left:-1rem;

        .recent__transaction-details-name{
            font-weight:600;
            color:#2e2e2e;
            font-size:1.2rem;
        }

        .recent__transaction-details-amount{
            font-size:1.1rem;
        }
    }

    .recent__transaction-date{
        height:70%;
        color:grey;
        display:flex;
        justify-content: flex-start;
        height:100%;

        .sent{
            color:rgb(0, 171, 0);
        }
        .recieved{
            color:rgb(197, 177, 1);
        }
    }
}