ion-toolbar{
    ion-button{
        color:black !important;
        font-size:1.3rem;
        --padding-end:1rem;
        --padding-start:1rem;
    }
}

.cart-radio-btn{
    display:block !important;
}


.receipt__modal{
    color:#282828;
    // display:flex;
    // flex-direction:column;
    // align-items: center;

    .reciept__modal-content{
        display:flex;
        flex-direction:column;
        align-items: center;

        .receipt__modal-header{
            display:flex;
            flex-direction:row;
            font-size:1.3rem;
            margin-bottom:2rem;
            gap:2rem;

            .receipt__modal-parties{
                display:flex;
                flex-direction:column;

                span{
                    font-weight:500;
                }
            }
        }
        

        .receipt__modal-table table{
            font-size:1.1rem;
            margin-bottom:2.5rem;

            th{
                padding:0.5rem;
            }

            td{
                padding:0.5rem;
            }
        }

        .receipt__modal-total-amount{
            font-size:1.5rem;
            text-align:center;
            margin-bottom: 2rem;
        }

        ion-button{
            font-size:1.3rem;
            height:3.5rem;
            margin-bottom:1rem;
            width:75%;
        }
    }
}

.ongoing-cart-orders{
    padding:0.5rem;
}

@media screen and (min-width:768px){
    .cart-radio-btn{
        display:none !important;
    }

    
    .cart-page-content{
        width:100%;
        height:100%;
        display:flex;
        gap:1rem;
        flex-direction: row-reverse;
        max-width:110rem;
        position:absolute;

        left:50%;
        transform:translateX(-50%);
    }

    
    .ongoing-cart-orders{
        display:block !important;
        width:100%;
    }

    .pending-cart-orders{
        display:block !important;
        width:100%;
    }
}