.account-page{
    background:white;
    width:100vw;
    font-family: 'Segoe UI';
    
    svg{
        transform:translateY(-1rem)
    }
}


.account-page .logo{
    max-width: 30rem;
    display:flex;
    align-items: center;
    justify-content: center;
    display:block;
    margin:auto;
    z-index: 5;
}

.logo-background{
    background-color: rgb(201, 201, 201);
    height:15rem;
}

.welcome-text{
    padding:3rem 1rem 3rem 1rem;
   color:black;
   font-size:1.2rem;
}

.btn-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-btns{
    width:20rem;
    height:4rem;
    font-weight:bold;
}

.page-body{
    display:flex;
    flex-direction: column;
}


@media screen and (min-width: 750px) {
    .page-body{
        display:flex;
        flex-direction:row;
        justify-content: space-evenly;
        align-items: center;
        transform:translateY(-2rem)
    }

    .logo-background{
        height:5rem;
    }

    .welcome-text{
        width:50%;
    }

    .account-page .logo{
        
        transform:translateY(-6rem);
    }

    .account-btns{
        width:20rem;
        height:4rem;
        font-weight:bold;
        transform:translateY(-1rem);
    }
}