.login-page{
    background:white;
    height:100%;
    width:100%;
    color:black;
    
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction:column;
    margin-top:12rem;
}

h1{
    text-align:center;
    font-weight: 1000;
    margin-bottom: 2rem;
}

.login-page label{
    font-size:1.3rem;
    display:flex;
    flex-direction:column;
    color:black;
    font-weight: 600;
    margin-top:2rem;
}

.login-page input{
    width:20rem;
    border:0;
    border-radius:10px;
    border:1px solid #282828;
    background:white;
    font-size:1.1rem;
    height:2.5rem;
    font-weight: 500;
}

#create-account-btn{
    margin-top:3rem;
    width:20rem;
    height:4rem;
    font-weight:bold;
    font-size:1.3rem;
}

.forgotten-password-btn{
    color:orangered;
    font-size:1rem;
}
