.account-card{
    min-height:16rem;
    width:24rem;
    margin-top:1rem;
    border-radius: 15px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #e6e6e6,
                -5px -5px 10px #ffffff;

    display:flex;
    flex-direction:column;
    align-items:center;
    color:#282828;
    padding-bottom:1.5rem;

    .edit-button{
        height:3rem;
        width:3rem;
        border-radius: 50%;
        background:#3c7aff;
        color:white;
        box-shadow:  3px 3px 10px #3c7aff;
        position: absolute;
        right:1rem;
        bottom:-1rem;
    }

    .user-details{
        display:grid;
        grid-template-columns:40% 60%;
        // gap:0.5rem;
        margin-bottom:0.5rem;
        width:100%;

        .img-wrapper{
            border-radius: 50%;
            border:2px solid rgb(60, 122, 255);
            width:8rem;
            height:8rem;
            padding:0.1rem;
            grid-column:1;
        }

        .user-photo{
            border-radius: 50%;
            width:100%;
            height:100%
        }

        .user-info{
            display:flex;
            flex-direction: column;
            grid-column: 2;

            .user-name{
                font-size:1.3rem;
                font-weight:600;
                margin-bottom: 0.5rem;
                width:90%;
                text-transform: capitalize;
            }

            .user-description{
                height:100%;
                width:95%;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4; /* start showing ellipsis when 3rd line is reached */
                white-space: pre-wrap;
            }
        }
    }

    .user-props{
        display:grid;
        grid-template:50% 50%/50% 50%;
        color:#3c7aff;
        padding-left:0.4rem;

        .user-occupation{
            text-transform: capitalize;
        }
    }

}

@media screen and (min-width:500px){
    .account-card{
        height:26rem;
        width:35rem;
        position:static;
        left:auto;
        transform:translateX(0);

        .user-details{
            .img-wrapper{
                width:11.2rem;
                height:11.2rem;
            }
            .user-info{
                .user-name{
                    font-size:1.6rem;
                }
            }
        }

        .user-props{
            font-size:1.2rem;
        }
    }
}