.cart__item{
    display:flex;
    justify-content: space-between;
    width:100%;
    text-transform: capitalize;


    .cart__item-details{
        margin-right:2.5rem;

        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items:left;
        width:100%;

        .cart__item-details-name{
            font-weight:bold;
        }

        .cart__item-details-price{
            font-size:1.1rem;
        }
    }

    .cart__item-quantity{
        width:100%;
        margin-left:15px;
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        align-items:center;
    }
}