.back-button{
    color:#3c7aff !important;
    font-size:1.5rem !important;
}

.product__card{
    display:flex;
    flex-direction:column;
    width:11rem;
    height:11.5rem;
    justify-content: space-between;
    padding-bottom:0.7rem;

    border-radius: 20px;
    background: #ffffff;
    box-shadow:  5px 5px 12px #d9d9d9,
                -5px -5px 12px #ffffff;

    .product__card-image{
        border-radius:20px 20px 25px 3px;
        max-height: 7.5rem;
    }

    .details{

        .name-price{
            display:flex;
            flex-direction:column;
            justify-content: center;
            color:#282828;

            .name{
                font-weight: 500;
                margin-bottom:0.5rem;
                text-transform: capitalize;
                margin:0;
            }
            .price{
                font-size:1.2rem;
                margin:0;
                font-weight: 700;
            }

        }

        .product__card-btn{
            align-self: center;
            color:white;
            width:2.8rem;
            height:2.8rem;
            border-radius:50%;
            background:rgb(60, 122, 255);
        }


    }
}

//The width of the card modal defined in the main.scss

//Designing the content of the modal

.product__card-details{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:93vh;
    color:#282828;

    .product__card-body{
        display:flex;
        flex-direction: column;

        h3{
            font-size:1.7rem;
        }
    }

    .product-image{
        width:22rem;
        border-radius: 20px;
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow:  12px 12px 24px #cfcfcf,
             -12px -12px 24px #ffffff;
    }

    div{
        width:22rem;
        margin-top:1rem;
        border-radius: 20px;
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow:  12px 12px 24px #cfcfcf,
                    -12px -12px 24px #ffffff;
    }

    h3{
        margin:0.5rem 1rem;
        margin-left:1rem;
        display:block;
    }

    .merchant-details{
        display:flex;
        flex-direction: column;

        section{
            display:flex;
            justify-content: space-between;
            padding:0.5rem 0;
            padding:0.5rem;
        }

        .merchant-image{
            width:5rem;
            height:5rem;
            border-radius:50%;
            margin-left:1rem;
        }

        .merchant-name{
            font-size:1.4rem;
            margin-right:2.5rem;
            font-weight: 500;
        }
    }

    .product-description{
        display:flex;
        flex-direction: column;

        p{
            margin-left:1rem;
        }
    }

    .product-details{
        display:flex;
        flex-direction:row;
        align-items: center;
        padding:1rem 0;
        justify-content:space-around;

        p{
            margin:0;
        }

        .product-name{
            font-size:1.2rem;
            font-weight: 400;
            text-transform: capitalize;
        }

        .product-price{
            font-size:1.4rem;
            font-weight: 600;
        }

        .cart-btn{
            height:3rem;
            width:8rem;
            border-radius:15px;
            color:#3c7aff;
            font-size:1.2rem;
            font-weight: 600;

            border-radius: 20px;
            border-radius: 20px;
            background: linear-gradient(145deg, #e6e6e6, #ffffff);
            box-shadow:  5px 5px 10px #cfcfcf,
                        -5px -5px 10px #ffffff;
        }

        .cart-btn:active{
            box-shadow: 0;
            transform:translateY(5%)
        }
    } 
}

@media screen and (min-width:570px){
    .product__card-details{
        display:flex;
        flex-direction: row;
        align-items: center;
        height:93vh;
        color:#282828;
        justify-content: center;
        gap:2rem;

        .product-image{
            width:40rem;
        }
 
    }
}

@media screen and (max-width:500) {
   html{
    font-size:10px;
   } 
}